[submodule "Chronicle.Facilities.Buildings"]
	path = Chronicle.Facilities.Buildings
	url = https://github.com/Chronicle-Solutions/Chronicle.Facilities.Buildings.git
[submodule "Chronicle.About"]
	path = Chronicle.About
	url = https://github.com/Chronicle-Solutions/Chronicle.About.git
[submodule "Chronicle.Facilities.Rooms"]
	path = Chronicle.Facilities.Rooms
	url = https://github.com/Chronicle-Solutions/Chronicle.Facilities.Rooms.git

[submodule "Chronicle.Security.Operators"]
	path = Chronicle.Security.Operators
	url = https://github.com/Chronicle-Solutions/Chronicle.Security.Operators.git
